<% extend('layout') %>
  <article>
    <form action="/topic/<%= topic.id %>/edit" method="POST">
      <p>
        <input type="text" name="title" placeholder="title" value="<%= topic.title %>">
      </p>
      <p>
        <textarea name="description" placeholder="description" rows="8" cols="80">
          <%= topic.description %>
        </textarea>
      </p>
      <p>
        <input type="text" name="author" placeholder="author" value="<%= topic.author %>">
      </p>
      <p>
        <input type="submit" value="보내기" />
      </p>
    </form>
  </article>
  <ul>
    <li><a href="/topic">Go to list</a></li>
  </ul>
